---
import { getPageContent } from '../../lib/wp';
import IndomabiliOnde from '../images/IndomabiliOnde.astro';
import Olas from '../images/Olas.astro';

const pageContent = await getPageContent('hero');

const { content } = pageContent;
---

<section
  id="home"
  class="main-section relative flex justify-center items-start pt-32 h-[100dvh] bg-white-custom"
>
  <div class="section-card fixed z-0">
    <div class="h-fit -mt-14">
      <IndomabiliOnde />
      <div
        class="text-sm sm:text-xl mx-auto pl-2 sm:pl-20 text-center sm:text-left"
        set:html={content}
      />
    </div>
    <div class="h-fit sm:pt-14">
      <h1 class="font-title text-2xl">Próximas ferias</h1>
      <ul class="font-text ml-10 mb-5 list-disc">
        <li>23 de octubre de 2022 | Via bolaso falso 231</li>
        <li>24 de octubre de 2022 | Via bolaso falso 231</li>
        <li>25 de octubre de 2022 | Via bolaso falso 231</li>
        <li>26 de octubre de 2022 | Via bolaso falso 231</li>
      </ul>
      <a class="bg-aqua py-2 px-5 font-bold cursor-pointer" href="#mapa"
        >Consulta el mapa</a
      >
    </div>
  </div>
  <!-- Imagen de olas -->
  <div
    class="absolute z-10 bottom-[0px] sm:bottom-[-150px] left-0 min-w-screen flex justify-center items-center"
  >
    <Olas />
  </div>
</section>
<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: '#home',
      start: 'top-=200 top',
      end: '+=120%',
      scrub: 1,
    },
  });
  tl.to('#home .section-card', {
    opacity: 0,
    duration: 0.05,
    ease: 'power3.inOut',
  });
</script>
