---
import { getPageContent } from '../../lib/wp';
import IndomabiliOnde from '../images/IndomabiliOnde.astro';
import Olas from '../images/Olas.astro';

const pageContent = await getPageContent('hero');

const { content } = pageContent;
---

<section
  id="home"
  class="container-fade-animation relative flex justify-center items-center sm:items-start sm:pt-14 xl:pt-32 w-full h-[100dvh] bg-white-custom"
>
  <div
    class="fade-element-in-viewport flex justify-center items-center flex-wrap sm:flex-nowrap w-full m-auto p-2 sm:px-20 gap-10 fixed z-0"
  >
    <div class="w-full max-w-[600px] h-fit -mt-14">
      <IndomabiliOnde />
      <div
        class="text-sm sm:text-xl mx-auto pl-2 sm:pl-20 text-center sm:text-left"
        set:html={content}
      />
    </div>
    <div class="w-full max-w-[600px] h-fit sm:pt-14">
      <h1 class="font-title text-2xl">Próximas ferias</h1>
      <ul class="font-text ml-10 mb-5 list-disc">
        <li>23 de octubre de 2022 | Via bolaso falso 231</li>
        <li>24 de octubre de 2022 | Via bolaso falso 231</li>
        <li>25 de octubre de 2022 | Via bolaso falso 231</li>
        <li>26 de octubre de 2022 | Via bolaso falso 231</li>
      </ul>
      <a class="bg-aqua py-2 px-5 font-bold cursor-pointer" href="#mapa"
        >Consulta el mapa</a
      >
    </div>
  </div>
  <!-- Imagen de olas -->
  <div
    class="absolute z-10 bottom-[0px] sm:bottom-[-150px] left-0 min-w-screen flex justify-center items-center"
  >
    <Olas />
  </div>
</section>
