---
import About from '../components/sections/About.astro';
import Hero from '../components/sections/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="flex flex-col justify-center items-start w-full">
    <Hero />
    <About />
    <!-- <Faq /> -->
    <!-- <ProductsSection client:load /> -->
  </main>
</Layout>
